//  -----------------------------------
//  Core - Elements | Forms - Select - Core
//  -----------------------------------

@import '../core/index';
@import '../../../utilities/global-placeholder-selectors/core';

//  Default Select Styling
//  -------------------------
%core-select-default {
  @extend %core-placeholder-appearance-none;
  background: $core-select-bg-default;
  border-radius: $core-select-border-radius;
  padding-right: $core-select-padding-r;
}
