//  -----------------------------------
//  Elements | Forms - Search Input - Seach Input
//  -----------------------------------

$search-svg:                                  url('/@addepar/style-toolbox/assets/images/search-icon.svg');
$search-svg-position:                         calc(100% - #{$spacing-small}) center;
$search-svg-size:                             13px;

// Search Icon
$core-input-search-background:                $search-svg $search-svg-position / $search-svg-size no-repeat $background-default;

// Hide Search Icon on focus
$core-input-search-background-image-focus:    none;
