// -------------------------
//  Core Variables | Typography - Font Variables
// -------------------------
  //  Font Families
  //  Font Folders

//  Font Families
// -------------------------
$univers:                           'univers' !default;
$univers-condensed:                 $univers + '-condensed' !default; // This isn't being used at all in iverson
$univers-tabular:                   $univers + '-tabular' !default; // Used in tables and report table widget
$tiempos:                           'tiempos' !default; //  * We are only using tiempos in 2 locations. Would probalby make sense to consolidate into a single font declaration.
$tiempos-headline:                  $tiempos + '-headline' !default;
$tiempos-text:                      $tiempos + '-text' !default;
$fontawesome:                       'fontawesome' !default;
$sans-serif-fallback:               'Helvetica Neue', 'Helvetica', Arial, sans-serif !default;
$serif-fallback:                    Georgia, 'Times New Roman', Times, serif !default;

// I imagine that these are the font family variables that we want to be using in CSS declarations
$font-family-sans-serif:            $univers, $sans-serif-fallback !default;
$font-family-serif:                 $tiempos, $serif-fallback !default;
$font-family-condensed:             $univers-condensed, $font-family-sans-serif !default; // This isn't being used at all in iverson
$font-family-tabular:               $univers-tabular, $font-family-sans-serif !default;
$font-family-monospace:             Menlo, Monaco, Consolas, 'Courier New', monospace !default;
$font-family-base:                  $font-family-sans-serif !default;
$font-family-icons:                 $fontawesome !default;

//  Font Folders
// -------------------------
// We currently don't have any sort of subdirectories in the fonts directory. Would most likely make sense to add/clean-up font directories.
// If we decide not to add directories to /fonts, we can remove everything except the global folder.

$global-font-folder:                '/@addepar/style-toolbox/assets/fonts/' !default;
$univers-font-folder:               $global-font-folder + 'univers/' !default;
$tiempos-font-folder:               $global-font-folder + 'tiempos/' !default;

$univers-default-font-folder:       $univers-font-folder + 'default' !default;
$univers-condensed-font-folder:     $univers-font-folder + 'condensed' !default;
$univers-tabular-font-folder:       $univers-font-folder + 'tabular' !default;

$tiempos-headline-font-folder:      $tiempos-font-folder + 'headline' !default;
$tiempos-text-font-folder:          $tiempos-font-folder + 'text' !default;

$fontawesome-font-folder:           $global-font-folder + 'fontawesome' !default;
