//  -----------------------------------
//  Core Variables | Typography - Font Sizing Variables
//  -----------------------------------

// Font Sizing
// -------------------------
$font-size-base:                    13px !default;          // 13px

$font-size-xxx-small:               0.5rem !default;           // 8px
$font-size-xx-small:                0.625rem !default;         // 10px
$font-size-xx-small:                0.6875rem !default;        // 11px
$font-size-small:                   0.75rem !default;          // 12px
$font-size-medium:                  $font-size-base !default;  // 13px
$font-size-large:                   0.875rem !default;         // 14px
$font-size-x-large:                 1.0625rem !default;        // 17px
$font-size-xx-large:                1.375rem !default;         // 22px
$font-size-xxx-large:               1.6875rem !default;        // 27px
$font-size-xxxx-large:              2.0625rem !default;        // 33px
$font-size-xxxxx-large:             3rem !default;             // 48px

$font-size-h1:                      $font-size-xxxx-large !default;
$font-size-h2:                      $font-size-xxx-large !default;
$font-size-h3:                      $font-size-xx-large !default;
$font-size-h4:                      $font-size-x-large !default;
$font-size-h5:                      $font-size-medium !default;
$font-size-h6:                      $font-size-small !default;

$font-size-headline:                $font-size-xxxxx-large !default;
