$onyx-interface-typography-h1:          $core-typography-size-3;
$onyx-interface-typography-h2:          $core-typography-size-4;
$onyx-interface-typography-h3:          $core-typography-size-5;
$onyx-interface-typography-body:        $core-typography-size-5;

$onyx-highlight-typography-h1:          $core-typography-size-1;
$onyx-highlight-typography-h2:          $core-typography-size-2;
$onyx-highlight-typography-h3:          $core-typography-size-3;
$onyx-highlight-typography-h4:          $core-typography-size-4;
$onyx-highlight-typography-body:        $core-typography-size-4;
