%checkbox-default {
  background-position: center;
  @include checkbox-radio-defaults;

  &:checked {
    background: url($checkbox-svg) center/12px no-repeat $background-default;
    border: $input-border-focus;
  }
}

input[type='checkbox'] {
  @extend %checkbox-default;
}
