//  -----------------------------------
//  Core Variables | Shadows - Shadow Declarations
//  -----------------------------------
  
//  Offsets
//  -------------------------
$box-shadow-no-offset:                    0 0;

$box-shadow-offset-bottom-small:          0 $box-shadow-offset-small;     //  0px 3px
$box-shadow-offset-bottom-medium:         0 $box-shadow-offset-medium;    //  0px 4px
$box-shadow-offset-bottom-large:          0 $box-shadow-offset-large;    //  0px 4px

$box-shadow-offset-top-small:             0 (-$box-shadow-offset-small);    // 0px -3px
$box-shadow-offset-top-medium:            0 (-$box-shadow-offset-medium);   // 0px -4px

//  Spread
//  -------------------------
$box-shadow-spread-default:               $box-shadow-size-x-small;

//  Shadows
//  -------------------------
$default-shadow:                          $box-shadow-no-offset $box-shadow-size-medium $box-shadow-color-dark;
