//  -----------------------------------
//  Elements | Forms - Select - Core
//  -----------------------------------

@import '../core';

//  Browser Default Select styling
//  -------------------------

%select {
  @extend %input-default;
  @extend %input-apearance-none;
  border-radius: $select-border-radius;
  padding-right: $select-padding-r;
  background: $select-bg;
}

select {
  @extend %select;
}
