//  -----------------------------------
//  Core - Elements | Inputs - Core Styling
//  -----------------------------------

@import 'mixins';

// Defines base input styling.
%core-input-default {
  @include core-input-default;
}

//  Textarea Styling
//  -------------------------
%core-textarea-default {
  @extend %core-input-default;
  resize: $core-text-area-resize-default;
  vertical-align: $core-text-area-vertical-aign-default;
}

%core-input-appearance-none {
  -webkit-appearance: none;
}
