//  -----------------------------------
//  Elements | Forms - Mixins
//  -----------------------------------
  // Disabled Input Styling

// Disabled Input Styling
@mixin disabled-input() {
  cursor: $core-input-default-disabled-cursor;
  pointer-events: $core-input-default-disabled-pointer-events;
  box-shadow: $core-input-default-disabled-box-shadow;
}

@mixin core-input-default {
  font-size: inherit;
  box-sizing: $core-input-box-sizing-default;
  position: $core-input-position-default;
  cursor: $core-input-cursor-default;

  // Focus Styling
  &:focus {
    outline: $core-input-focus-outline-default;
  }

  // Disabled Styling
  &:disabled {
    @include disabled-input;
  }
}
