//  -----------------------------------
//  Elements | Forms - Variables
//  -----------------------------------

// Default Input Styling
$core-input-box-sizing-default:                border-box;
$core-input-position-default:                  relative;
$core-input-cursor-default:                    pointer;

// Focus Styling
$core-input-focus-outline-default:             none;

// Square Input (radio/checkbox)
$core-input-squre-size:                        1.2em;

// Disabled Input
$core-input-default-disabled-cursor:           not-allowed;
$core-input-default-disabled-pointer-events:   none;
$core-input-default-disabled-box-shadow:       none;

// Textarea
$core-text-area-resize-default:                none;
$core-text-area-vertical-aign-default:         top;
