//  -----------------------------------
//  Core Variables | Timing - Core Variables
//  -----------------------------------
  //  Durations

//  Durations
//  -------------------------
$duration-x-short:                      0.1s;
$duration-short:                        0.2s;
$duration-medium:                       0.3s;
$duration-long:                         0.5s;
$duration-x-long:                       0.6s;
$duration-xx-long:                      1.4s;
$duration-xxx-long:                     3s;
