//  -----------------------------------
//  Core Variables | Colors - Core Variables
//  -----------------------------------
 //  Neutral Palette
 //  Brand Palette
 //  Interactive Palette


//  Neutral Palette
// -------------------------
$black:                           #000000;
$grey-xx-dark:                    #333333;
$grey-x-dark:                     lighten($grey-xx-dark, 30%);
$grey-dark:                       #999999;
$grey-medium:                     #c7c7c7;
$grey-light:                      #dddddd;
$grey-x-light:                    #e9e9e9;
$grey-xx-light:                   #f4f4f4;
$white:                           #ffffff;

//  Brand Palette
// -------------------------
$brand-blue-gray:                 #27618a;

//  Interactive Palette
// -------------------------
$red:                             #cb323b;
$red-medium:                      #E15554;
$red-light:                       #fae8ee;
$yellow-dark:                     #af8828;
$yellow-medium:                   #e5b92a;
$yellow-light:                    #faf4d6;
$yellow-highlight:                #ffff00;
$green:                           #478951;
$green-light:                     #d7eed0;
$blue:                            $brand-blue-gray;
$blue-light:                      #d7ebfa;
$blue-x-light:                    lighten($blue-light, 4%);

$hover-color-darken:              10%;
