//  -----------------------------------
//  Core Variables | Animations - Core Variables
//  -----------------------------------
  //  Types

//  Types
//  -------------------------
$animation-type-shake:                  shake;
$animation-type-spin:                   spin;
$animation-type-blink:                  blink;
$animation-type-fadein:                 fade-in;
