//  -----------------------------------
//  Elements | Inputs - Checkbox - Core Styling
//  -----------------------------------

input[type="checkbox"] {
  @extend %adde-checkbox-radio-defaults;
  background-position: $checkbox-background-position;

  &:checked {
    background: $checkbox-checked-background;
    border: $checkbox-checked-border;
  }
}
