//  -----------------------------------
//  Core Variables | Shadows - Core Variables
//  -----------------------------------
  //  Color
  //  Sizes
  //  Offsets

//  Color
//  -------------------------
$box-shadow-color-dark:                   rgba(0,0,0, 0.3) !default;
$box-shadow-color-medium:                 rgba(0,0,0, 0.2) !default;
$box-shadow-color-light:                  rgba(0,0,0, 0.1) !default;
$box-shadow-color-xxx-light:              $background-x-light !default;
$box-shadow-color-blue:                   $brand-blue-gray !default;
$box-shadow-color-red:                    $red !default;

//  Sizes
//  -------------------------
$box-shadow-size-x-small:                 1px !default;
$box-shadow-size-samll:                   2px !default;
$box-shadow-size-medium:                  5px !default;
$box-shadow-size-large:                   8px !default;
$box-shadow-size-x-large:                 10px !default;

//  Offsets
//  -------------------------
$box-shadow-offset-x-small:               2px !default;
$box-shadow-offset-small:                 3px !default;
$box-shadow-offset-medium:                4px !default;
$box-shadow-offset-large:                 5px !default;
$box-shadow-offset-x-large:               6px !default;
