//  -----------------------------------
//  Core - Core Variables | Animations - Core Variables
//  -----------------------------------
  //  Types

//  Types
//  -------------------------
$core-animation-type-shake:                  shake;
$core-animation-type-spin:                   spin;
$core-animation-type-blink:                  blink;
$core-animation-type-fadein:                 fade-in;
