//  -----------------------------------
//  Core - Core Variables | Borders
//  -----------------------------------
  // Border Widths
  // Border Styles
  // Border Styling
  // Input Borders
  // Table Borders

@import 'colors/index';

// Border Widths
//  -------------------------
$border-width-base-unit:        1px;

$border-width-medium:           $border-width-base-unit;
$border-width-large:            $border-width-base-unit * 2;
$border-width-x-large:          $border-width-base-unit * 5;

// Border Styles
//  -------------------------
$border-style-default:          solid;
$border-style-dashed:           dashed;

// Border Styling
//  -------------------------
$border-default:                $border-width-medium $border-style-default $border-color-default;
$border-default-hidden:         $border-width-medium $border-style-default transparent;
$border-default-error:          $border-width-medium $border-style-default $border-error;
$border-default-focus:          $border-width-medium $border-style-default $border-focus;
$border-dark:                   $border-width-medium $border-style-default $border-dark;

$border-highlight:              $border-width-large $border-style-default $border-success;
$border-highlight-hidden:       $border-width-large $border-style-default transparent;

// Input Borders
//  -------------------------
$input-border-default:          $border-default;
$input-border-hover:            $border-dark;
$input-border-focus:            $border-default-focus;

// Table Borders
//  -------------------------
$table-border-default:          $border-width-medium $border-style-default $border-x-light;
$modal-border-default:          $table-border-default;
