//  -----------------------------------
//  Core - Core Variables | Radius - Core Variables
//  -----------------------------------
$border-radius-base-unit:               2px;

$border-radius-none:                    0;
$border-radius-small:                   $border-radius-base-unit / 2;
$border-radius-medium:                  $border-radius-base-unit;
$border-radius-large:                   3px;
$border-radius-circle:                  50%;
