//  -----------------------------------
//  Core - Core Variables | Shadows - Core Variables
//  -----------------------------------
  //  Color
  //  Sizes
  //  Offsets
  //  Offset Declarations
  //  Spread
  //  Shadows

//  Color
//  -------------------------
$box-shadow-color-dark:                   rgba(0, 0, 0, 0.3);
$box-shadow-color-medium:                 rgba(0, 0, 0, 0.2);
$box-shadow-color-light:                  rgba(0, 0, 0, 0.1);
$box-shadow-color-xxx-light:              $background-x-light;
$box-shadow-color-blue:                   $brand-blue-gray;
$box-shadow-color-red:                    $red;

//  Sizes
//  -------------------------
$box-shadow-size-x-small:                 1px;
$box-shadow-size-small:                   2px;
$box-shadow-size-medium:                  5px;
$box-shadow-size-large:                   8px;
$box-shadow-size-x-large:                 10px;

//  Offsets
//  -------------------------
$box-shadow-offset-x-small:               2px;
$box-shadow-offset-small:                 3px;
$box-shadow-offset-medium:                4px;
$box-shadow-offset-large:                 5px;
$box-shadow-offset-x-large:               6px;

//  Offset Declarations
//  -------------------------
$box-shadow-no-offset:                    0 0;

$box-shadow-offset-bottom-small:          0 $box-shadow-offset-small;     //  0px 3px
$box-shadow-offset-bottom-medium:         0 $box-shadow-offset-medium;    //  0px 4px
$box-shadow-offset-bottom-large:          0 $box-shadow-offset-large;    //  0px 4px

$box-shadow-offset-top-small:             0 (-$box-shadow-offset-small);    // 0px -3px
$box-shadow-offset-top-medium:            0 (-$box-shadow-offset-medium);   // 0px -4px

//  Spread
//  -------------------------
$box-shadow-spread-default:               $box-shadow-size-x-small;

//  Shadows
//  -------------------------
$default-shadow:                          $box-shadow-no-offset $box-shadow-size-medium $box-shadow-color-dark;
