//  -----------------------------------
//  Core Variables | Z-Index - Core Variables
//  -----------------------------------

$layer-negative-bottom:       -2;
$layer-negative-top:          -1;

$layer-auto:                  auto;

$layer-base-base:             0;
$layer-base-x-bottom:         10;
$layer-base-bottom:           20;
$layer-base-middle:           30;
$layer-base-top:              40;
$layer-base-x-top:            50;

$layer-above-base:            100;
$layer-above-x-bottom:        110;
$layer-above-bottom:          120;
$layer-above-middle:          130;
$layer-above-top:             140;
$layer-above-x-top:           150;

$layer-overlay-base:          200;
$layer-overlay-x-bottom:      210;
$layer-overlay-bottom:        220;
$layer-overlay-middle:        230;
$layer-overlay-top:           240;
$layer-overlay-x-top:         250;

$layer-top-base:              300;
$layer-top-x-bottom:          310;
$layer-top-bottom:            320;
$layer-top-middle:            330;
$layer-top-top:               340;
$layer-top-x-top:             350;
