//  -----------------------------------
//  Core Variables | Spacing - Core Variables
//  -----------------------------------

//  Units
//  -------------------------
$spacing-unit-default:                  8px;

$spacing-xx-small:                      $spacing-unit-default / 4;  // 2px
$spacing-x-small:                       $spacing-unit-default / 2;  // 4px
$spacing-small:                         $spacing-unit-default;      // 8px
$spacing-medium:                        $spacing-unit-default * 2;  // 16px
$spacing-large:                         $spacing-unit-default * 3;  // 24px
$spacing-x-large:                       $spacing-unit-default * 4;  // 32px
$spacing-xx-large:                      $spacing-unit-default * 6;  // 48px
