//  -----------------------------------
//  Core Variables | Typography - Core
//  -----------------------------------

// New - Font Sizing
// -------------------------
$core-typography-size-1:            36px;
$core-typography-size-2:            24px;
$core-typography-size-3:            18px;
$core-typography-size-4:            16px;
$core-typography-size-5:            14px;
$core-typography-size-6:            12px;

$font-size-base-unit:               $core-typography-size-5;
