//  -----------------------------------
//  Core Variables | Typography - Font Weight
//  -----------------------------------

// font-weight
// -------------------------
$font-thin:                         100;
$font-extra-light:                  200;
$font-light:                        300;
$font-normal:                       400;
$font-medium:                       500;
$font-semi-bold:                    600;
$font-bold:                         700;
$font-extra-bold:                   800;
$font-heavy:                        900;

$font-weight-xx-light:              $font-thin;
$font-weight-x-light:               $font-extra-light;
$font-weight-light:                 $font-light;
$font-weight-regular:               $font-normal;
$font-weight-bold:                  $font-medium;
$font-weight-x-bold:                $font-semi-bold;
$font-weight-xx-bold:               $font-bold;
$font-weight-xxx-bold:              $font-extra-bold;
$font-weight-xxxx-bold:             $font-heavy;

// New Core font Weights
// -------------------------
$core-font-weight-regular:          $font-normal;
$core-font-weight-medium:           $font-medium;
