// -------------------------
//  Core Variables | Typography - Line Height
// -------------------------
// Are we set on this as the base line hight? do we want to use a more common ratio (1.618)?
$line-height-base:                  1.6796875;

// $line-height-computed is used to calculate line height of inputs and defining the input base height. Might make sense to move to spacing
$line-height-computed:              floor(($font-size-base-unit * $line-height-base)); // 21px

$line-height-xx-small:              1.1;
$line-height-x-small:               1.33;
$line-height-small:                 1.5;
$line-height-medium:                $line-height-base;

// Core Line Heights (to do --> remove everything above here)
$core-line-height-small:            1.33;
$core-line-height-medium:           1.42;
$core-line-height-large:            1.5;
