// -------------------------
//  Core Variables | Typography - Line Height
// -------------------------

$core-line-height-x-small:          1;
$core-line-height-small:            1.33;
$core-line-height-medium:           1.42;
$core-line-height-large:            1.5;
