//  -----------------------------------
//  Utilities | Typography - Core
//  -----------------------------------

%h1 {
  @include header-styling ($font-size-h1, $font-weight-light, $line-height-x-small)
}

%h2 {
  @include header-styling ($font-size-h2, $font-weight-bold, $line-height-x-small)
}

%h3 {
  @include header-styling ($font-size-h3, $font-weight-bold, $line-height-small)
}

%h4 {
  @include header-styling ($font-size-h4, $font-weight-bold, $line-height-small)
}

%h5 {
  @include header-styling ($font-size-h5, $font-weight-bold, $line-height-small)
}

%h6 {
  @include header-styling ($font-size-h6, $font-weight-bold, $line-height-small)
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}

.green {
  color: $text-success;
}

.red {
  color: $text-error;
}
