//  -----------------------------------
//  Elements | Forms - Radios - Core
//  -----------------------------------

@import '../../../utilities/global-mixins/index';
@import '../../../utilities/global-placeholder-selectors/core';

%core-radio-default {
  border-radius: $core-radio-button-border-radius;
  @extend %core-placeholder-appearance-none;
  @extend %core-input-default;

  // Checked Styling
  &:checked:after {
    @include content-clear-block;
    position: $core-radio-button-checked-after-position;
    width: $core-radio-button-checked-after-width;
    height: $core-radio-button-checked-after-height;
    top: $core-radio-button-checked-after-top;
    left: $core-radio-button-checked-after-left;
    border-radius: $core-radio-button-border-radius;
  }
}
