//  -----------------------------------
//  Elements | Forms - Radios - Variables
//  -----------------------------------

$input-radio-checked-icon-size:               10px;
$core-radio-button-border-radius:             $border-radius-circle;

$core-radio-button-checked-after-position:    absolute;
$core-radio-button-checked-after-width:       $input-radio-checked-icon-size;
$core-radio-button-checked-after-height:      $core-radio-button-checked-after-width;
$core-radio-button-checked-after-top:         50%;
$core-radio-button-checked-after-left:        50%;
$core-radio-button-checked-after-transform:   translate(-$core-radio-button-checked-after-top, -$core-radio-button-checked-after-left);
