// -------------------------
//  Utilties | Typography - Font Declarations - Variables
// -------------------------
  //  Font Families
  //  Font Folders

//  Font Families
// -------------------------
$univers:                           'univers';
$univers-condensed:                 $univers + '-condensed'; // This isn't being used at all in iverson
$univers-tabular:                   $univers + '-tabular'; // Used in tables and report table widget
$tiempos:                           'tiempos'; //  * We are only using tiempos in 2 locations. Would probalby make sense to consolidate into a single font declaration.
$tiempos-headline:                  $tiempos + '-headline';
$tiempos-text:                      $tiempos + '-text';
$sans-serif-fallback:               'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$serif-fallback:                    Georgia, 'Times New Roman', Times, serif;
$fontawesome:                       'fontawesome';

// I imagine that these are the font family variables that we want to be using in CSS declarations
$font-family-sans-serif:            $univers, $sans-serif-fallback;
$font-family-serif:                 $tiempos, $serif-fallback;
$font-family-condensed:             $univers-condensed, $font-family-sans-serif; // This isn't being used at all in iverson
$font-family-tabular:               $univers-tabular, $font-family-sans-serif;
$font-family-monospace:             Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family-base:                  $font-family-sans-serif;
$font-family-icons:                 $fontawesome;

//  Font Folders
// -------------------------
// We currently don't have any sort of subdirectories in the fonts directory. Would most likely make sense to add/clean-up font directories.
// If we decide not to add directories to /fonts, we can remove everything except the global folder.

$global-font-folder:                '/@addepar/style-toolbox/assets/fonts/';
$univers-font-folder:               $global-font-folder + 'univers/';
// $univers-font-folder:               $global-font-folder;
$tiempos-font-folder:               $global-font-folder + 'tiempos/';
$fontawesome-font-folder:           $global-font-folder + 'fontawesome';

$univers-default-font-folder:       $univers-font-folder + 'default';
$univers-condensed-font-folder:     $univers-font-folder + 'condensed';
$univers-tabular-font-folder:       $univers-font-folder + 'tabular';

$tiempos-headline-font-folder:      $tiempos-font-folder + 'headline';
$tiempos-text-font-folder:          $tiempos-font-folder + 'text';

$fontawesome-regular-font-folder:   $fontawesome-font-folder;
