//  -----------------------------------
//  Components | Forms - Select - Core
//  -----------------------------------
@import '../../../../core/elements/inputs/select/index';

$select-padding:      0 26px 0 0;

//  Select styling
//  -------------------------
.select {
  @extend %core-select-default;
  padding: $select-padding;
  position: relative;

  // Removing default input styling
  > input:first-of-type,
  > .input,
  > .input input:first-of-type {
    border: none;

    &:hover {
      border: none;
    }
  }

  // Top level of the dropdown
  .dropdown-options {
    @include dropdown-base-styling;
    left: $dropdown-ul-left;
    top: 32px;
    min-width: $dropdown-ul-width;
    width: 100%;
    flex-direction: column;

    &.#{$class-state-open} {
      display: flex;
    }

    // Dropdown List
    ul {
      list-style: $dropdown-ul-list-style;
      height: 100%;
      max-height: 20rem;
      overflow: $dropdown-ul-overflow;
      padding: 0;

      > li {
        margin-bottom: $dropdown-li-margin-bottom;
        padding: $dropdown-li-padding;

        // Dropdown Button
        button {
          // @extend .blank;
          background: $dropdown-a-background;
          display: $dropdown-a-display;
          color: $dropdown-a-color;
          padding: $dropdown-a-padding;
          cursor: $dropdown-a-cursor;
          text-align: left;
          transition: $dropdown-a-transition;
          width: 100%;

          &:hover {
            background: $dropdown-a-hover-background;
          }

          // Text styling for selects with a title
          .title {
            display: $dropdown-a-title-display;
            color: $dropdown-a-title-color;
          }
        }
      }
    }

    // Styling for Searchbar (sticky to top of dropdown)
    &.search {
      header {
        display: block;
        padding: $spacing-small;
        box-sizing: border-box;

        input[type="search"] {
          width: 100%;
        }
      }

      ul {
        max-height: 13em;
      }
    }

    // Clear Button styling
    &.clear {
      justify-content: space-between;

      footer {
        display: block;
        align-self: flex-end;
        width: 100%;

        button {
          box-sizing: border-box;
          border: none;
          border-top: $input-border-default;
          background: $background-default;
          width: 100%;
          text-align: left;
          padding: ($spacing-medium - 4px) $spacing-small;
          // font-weight: $font-weight-light;
        }
      }

      ul {
        max-height: 13em;
      }
    }
  }

  // Large Dropdown
  &.large .dropdown-options {
    height: $dropdown-ul-height * 1.2;
    width: $dropdown-ul-width * 1.2;
    z-index: $dropdown-ul-z-index;

    button {
      color: $text-light;
    }
  }

  // Align dropdown to the right
  &.right .dropdown-options {
    right: $dropdown-position-right;
    left: $dropdown-position-left;
  }

  // Allow for removable list items in dropdown
  &.removable > .dropdown-options {
    li {
      position: relative;

      .close {
        position: absolute;
        right: 0;
        top: 0;
        padding: $spacing-small;
        background: transparent;
        width: auto;

        svg {
          height: 10px;
          fill: $text-light;
          stroke-width: 1px;
          stroke: $text-light;
        }
      }
    }
  }
}
