//  -----------------------------------
//  Core - Core Variables | Borders - Core Variables
//  -----------------------------------
  // Border Widths
  // Border Styles

// Border Widths
$border-width-base-unit:        1px;

$border-width-medium:           $border-width-base-unit;
$border-width-large:            $border-width-base-unit * 2;
$border-width-x-large:          $border-width-base-unit * 5;

// Border Styles
$border-style-default:          solid;
$border-style-dashed:           dashed;
