<h2 id="title">Welcome to Ember</h2>

<p class="type--regular">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis cupiditate reiciendis voluptas eos quod quidem, accusantium similique incidunt et commodi a dicta labore quam, voluptatem, blanditiis iure. Eaque, ab at.</p>

<p class="type--medium">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis cupiditate reiciendis voluptas eos quod quidem,
accusantium similique incidunt et commodi a dicta labore quam, voluptatem, blanditiis iure. Eaque, ab at.</p>

<p class="type--semi-bold">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis cupiditate reiciendis voluptas eos quod quidem,
accusantium similique incidunt et commodi a dicta labore quam, voluptatem, blanditiis iure. Eaque, ab at.</p>

<p class="type--bold">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis cupiditate reiciendis voluptas eos quod quidem,
accusantium similique incidunt et commodi a dicta labore quam, voluptatem, blanditiis iure. Eaque, ab at.</p>

<p class="type--regular-italic">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis cupiditate reiciendis voluptas
  eos quod quidem, accusantium similique incidunt et commodi a dicta labore quam, voluptatem, blanditiis iure. Eaque, ab
  at.</p>

<p class="type--medium-italic">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis cupiditate reiciendis voluptas
  eos quod quidem,
  accusantium similique incidunt et commodi a dicta labore quam, voluptatem, blanditiis iure. Eaque, ab at.</p>



{{outlet}}