//  -----------------------------------
//  Elements | Inputs - Checkbox - Core Styling
//  -----------------------------------

@import '../../../../core/elements/inputs/checkbox/index';
@import '../core/core';

%onyx-checkbox-default {
  @extend %core-checkbox-default;
  @extend %onyx-input-checkbox-radio-default;
  background-position: $onyx-checkbox-background-position;

  &:checked {
    background: $onyx-checkbox-checked-background;
    border: $onyx-checkbox-checked-border;
  }
}

input[type="checkbox"] {
  @extend %onyx-checkbox-default;
}
