//  -----------------------------------
//  Core Variables | Radius - Radius Declarations
//  -----------------------------------
$border-radius-modal:                 $border-radius-small !default;
$border-radius-button:                $border-radius-medium !default;
$border-radius-input:                 $border-radius-medium !default;
