//  -----------------------------------
//  Elements | Forms - Radios - Core
//  -----------------------------------

@import '../../../utilities/global-mixins/index';

%default-radio {
  border-radius: $radio-button-border-radius;
  @extend %checkbox-and-radio-default;

  // Checked Styling
  &:checked:after {
    @include content-clear-block;
    border-radius: $radio-button-border-radius;
    position: absolute;
    width: $radio-button-checked-after-width;
    height: $radio-button-checked-after-height;
    top: $radio-button-checked-after-top;
    left: $radio-button-checked-after-left;
  }
}

input[type='radio'] {
  @extend %default-radio;
}
