//  -----------------------------------
//  Elements | Forms - Radios - Core
//  -----------------------------------

@import '../../../utilities/global-mixins/index';

%default-radio {
  border-radius: $radio-button-border-radius;
  @extend %checkbox-and-radio-default;

  // Checked Styling
  &:checked {
    border-color: $text-dark;

    &:after {
      @include content-clear-block;
      position: absolute;
      width: $radio-button-checked-after-width;
      height: $radio-button-checked-after-height;
      top: $radio-button-checked-after-top;
      left: $radio-button-checked-after-left;
      background: $radio-button-checked-after-background;
      border-radius: $radio-button-checked-border-border-radius;
    }
  }
}

input[type='radio'] {
  @extend %default-radio;
}
